<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyDrawerJava"
        tools:targetApi="31">
        <activity
            android:name=".SplashActivity"
            android:exported="false" />
        <activity
            android:name=".RatingActitivity"
            android:exported="false" />
        <activity
            android:name=".PermissionsActivity"
            android:exported="false" />
        <activity
            android:name=".loginlogout.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".loginlogout.Login2Activity"
            android:exported="false" />
        <activity
            android:name=".mvvmroom.NoteDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".mvvmroom.MVVMRoomActivity"
            android:exported="false" />
        <activity
            android:name=".RoomDatabaseActivity"
            android:exported="false" />
        <activity
            android:name=".SharedPrefActivity"
            android:exported="false" />
        <activity
            android:name=".ProgressbarActivity"
            android:exported="false" />
        <activity
            android:name=".CoordinateLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".PracticeViewpagerActivity"
            android:exported="false" />
        <activity
            android:name=".LayoutPractice"
            android:exported="false" />
        <activity
            android:name=".mvvmretrofit.MVVMRetrofitActivity"
            android:exported="false" />
        <activity
            android:name=".retro.RetrofitActivity"
            android:exported="false" />
        <activity
            android:name=".recy.DetailsActivity"
            android:exported="false" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".ResponsiveViewsActivity"
            android:exported="false"
            android:label="@string/title_activity_responsive_views"
            android:resizeableActivity="true"
            android:theme="@style/Theme.MyDrawerJava.NoActionBar"
            tools:targetApi="24" />
        <activity
            android:name=".ViewModelActivity"
            android:exported="false" />
        <activity
            android:name=".TabbedViewsActivity"
            android:exported="false"
            android:label="@string/title_activity_tabbed_views"
            android:theme="@style/Theme.MyDrawerJava.NoActionBar" />
        <activity
            android:name=".ScrollingActivity"
            android:exported="false"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/Theme.MyDrawerJava.NoActionBar" />
        <activity
            android:name=".recy.EmptyViewsActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="true"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".BasicViewsActivity"
            android:exported="true"
            android:theme="@style/Theme.MyDrawerJava" />
        <activity
            android:name=".BottomNavViewActivity"
            android:exported="true"
            android:label="@string/title_activity_bottom_nav_view"
            android:theme="@style/Theme.MyDrawerJava" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MyDrawerJava.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>